.card {
    margin: auto; 
    min-width: 50%;
}

.percent-high {
    color: lightcoral;
}

.percent-mid {
    color: lightsalmon;
}

.percent-low {
    color: lightgreen;
}

.running {
    color: lightgreen;
}

.standby {
    color: lightskyblue;
}

.offline {
    color: lightcoral
}